<!DOCTYPE HTML>
<html lang="en">

<head>
    {% extends 'tcapp/base.html' %}
    {% block title %}Temperature Check Login{% endblock %}
    <title>Temperature Check Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tcapp/style.css' %}">
</head>

<body>
    {% block content %}
    <h2>Please log in to select a module and lecture.</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>

    <br>
    <h3>Don't have an account?</h3>
    <a href = "{% url 'tcapp:signup' %}">Sign Up Here</a>
    {% endblock %}
</body>
</html>