<!DOCTYPE HTML>
<html lang="en">

<head>
    {% extends 'tcapp/base.html' %}
    {% block title %}Temperature Check Login{% endblock %}
    <title>Temperature Check Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tcapp/style.css' %}">
</head>

<body>
    {% block content %}
    <p>Please log in to select a module and lecture.</p>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
    </form>
    {% endblock %}
</body>
</html>