html,
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 1.4;
  font-size: 18px;
  box-sizing: border-box;
  background-color: #484951;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.4;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #bebebe;
}

a:focus {
  border-bottom: 1px solid;
  color: #a6a8a5;
}

a:hover {
  border-bottom: 1px solid;
  color: #ffffff;
}

#header-link {
  text-transform: uppercase;
}

#header-link:hover {
  border-bottom: none;
}

#index-header:hover {
  border-bottom: none;
}

h2 {
  text-transform: uppercase;
  font-size: 38px;
}

h3 {
  font-size: 22px;
}

img {
  max-width: 100%;
  display: block;
}

.content {
  margin-top: 8rem;
  margin-bottom: 6rem;
  flex: 1 0 auto;
}

form {
  margin-top: 1rem;
  max-width: 36rem;
}

header {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  /* fixing footer to bottom fv-work on this */
  /* position: fixed;
  bottom: 0;
  left: 0; */
  right: 0;
  text-align: left;
  font-size: 15px;
  line-height: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  z-index: 890;
  padding: 20px;
}

.footer-info {
  display: inline;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
  padding-left: 30px;
}

.copyright {
  float: right;
  padding-left: 30px;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  text-align: center;
}

.btn-start {
  display: block;
  width: 100%;
}

a.btn-start {
  color: white;
}

.form-select {
  width: 30%;
}

#index-header {
  color: white;
  text-align: center;
  font-size: 7vw;
  letter-spacing: 5vw;
  font-weight: 500;
  /* put in padding equal to letter spacing to ensure text is centered */
  padding-left: 5vw;
  width: 100%;
  display: inline-block;
}

.user-message {
  color: rgb(252, 242, 48);
}

#banner-img {
  width: 100%;
  border-bottom: 4px solid white;
}

#header-img {
  /* margin: 20px; */
  float: left;
}

#thermometer-img {
  margin: 30px;
  float: left;
}