html,
body {
  height:100%;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 1.4;
  font-size: 18px;
  box-sizing: border-box;
  /* background-color: #11262e; */
  background-color: #484951;
}
/* 
 #__next {
  display: flex;
  flex: 1;
  flex-direction: column;
  height:100%;
  width: 100%;
 } */
 
 main {
  display: flex;
  flex: 1;
  flex-direction: column;
 }

* {
  box-sizing: border-box;
}

p {
  line-height: 1.4;
}

a {
  color: #d2e069;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
  color: #cdfeaa;
}

a:link {
  color: #d2e069;
}

a:visited {
  color: #3fc6d7;
}

a:focus {
  border-bottom: 1px solid;
  color: #a6a8a5;
}

a:hover {
  border-bottom: 1px solid;
} */

a:active {
  background: #d2e069;
  color: #cdfeaa;
}

#header-link {
  color: #d2e069;
}

#header-link:hover {
  border-bottom: none;
}

#header-link:visited {
  color: #3fc6d7;
}

#index-header:hover {
  border-bottom: none;
}

/* a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
} */

img {
  max-width: 100%;
  display: block;
}

/* .container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 3rem;
  align-items: center;
} */

.content {
  margin-top: 8rem;
}

form {
  margin-top: 1rem;
  max-width: 36rem;
}

header {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin: 3rem 3rem 0 0;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  text-align: center;
}

.btn-start {
  display: block;
  width: 100%;
}

a.btn-start {
  color: white;
}

.form-select {
  width: 30%;
}

#index-header {
  color: white;
  font-size: 7vw;
  letter-spacing: 5vw;
  font-weight: 500;
  /* put in padding equal to letter spacing to ensure text is centered */
  padding-left: 5vw;
  margin: 0;
  text-align: center;
}

.user-message {
  color: rgb(252, 242, 48);
}

/* .logo {
  
} */

#banner-img {
  width: 100%;
}

#header-img {
  margin: 20px;
  float: left;
}

#thermometer-img {
  margin: 30px;
  float: left;
}