<!DOCTYPE html>
<html lang="en">

{% extends 'tcapp/base.html' %}

<head>
    {% block title %}Temperature Check{% endblock %}
    <title>Temperature Check</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tcapp/style.css' %}">
</head>

<body>
    {% block content %}
        <h1>Welcome to Temperature Check!</h1>
        <p><a href="{% url 'tcapp:login' %}">Log In</a></p>
        <p><a href="{% url 'admin:index' %}">Admin</a></p>
        <!-- <p>Insert a brief overview and nifty logo and whatnot.</p> -->
    {% endblock %}

</body>

</html>