<!DOCTYPE html>
<html lang="en">
{% extends 'tcapp/base.html' %}

<head>
    {% block title %}Lecture Detail{% endblock %}
    <title>Lecture Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tcapp/style.css' %}">
</head>=

<body>
    {% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'tcapp:logout' %}">Log Out</a>

        <p>You are at Module {{ module.module_name }}, lecture number {{ lecture.id }}</p>

        <form action="{% url 'tcapp:submit' module_name=module.module_name lecture_id=lecture.id%}" method="post">
            {% csrf_token %}
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <input type="submit" name="ping" id="ping" value="Ping">
        </form>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'tcapp:login' %}">Log In</a>
    {% endif %}
    {% endblock %}
</body>

</html>