<!DOCTYPE html>
<html lang="en">
{% extends 'tcapp/base.html' %}

<head>
    <title>Temperature Check</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tcapp/style.css' %}">
</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'tcapp:logout' %}">Log Out</a>
        <h1>Welcome, {{ user.username }}!</h1>
    
        <h2>Please select a lecture:</h2>
        {% if module_list %}
            <ul>
                {% for module in module_list %}
                    <li>Module {{ module.module_name }}</li>
                    {% if module.lecture_set.all %}
                        {% for lecture in module.lecture_set.all %}
                            <ul>
                                <li>Lecture <a href="{% url 'tcapp:lecture_detail' module_name=module.module_name lecture_id=lecture.id%}">{{ lecture.lecture_name }}</a></li>
                            </ul>
                        {% endfor %}
                    {% else %}
                        <ul><li>No lectures to display.</li></ul>
                    {% endif %}                
                {% endfor %}
            </ul>
        {% else %}
            <p>No modules to display.</p>
        {% endif %}

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'tcapp:login' %}">Log In</a>
    {% endif %}
    {% endblock %}

</body>

</html>